* { 
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #1e272e;
  background-image: url(../src/assets/static/Fondo\ Burguer.png);
  background-position: center;
  background-size: cover;    
  color: #ECF0F1;
  font-family: 'Oxygen', sans-serif;
  font-size: 2.6rem;
  height: 100vh; 
  margin: 1.6rem;
}

.Order_input {
  background-color: #E67E22;
  border-radius: 0.5rem;
  border-style: none;
  color: #ECF0F1;
  font-size: 2.6rem;
  margin: 0 2rem;
  height: 6.9rem;
  width: 30rem;  
} 

.Type_button {
  background-color: #E67E22;
  border-radius: 0.5rem;
  color: #ECF0F1;
  font-size: 2.6rem;
  height: 6.9rem;
  margin: 2rem 1rem;
  width: 15rem;
}

.ItemMenu_button {
  background-color: #F39C12;
  border-radius: 0.5rem;
  color: #ECF0F1;
  font-size: 2.6rem;
  height: 9rem;  
  margin: 0.5rem;
  min-width: 12rem;  
}

.Waiters {
  display: flex;
  justify-content: space-between;
}

.Waiters_menu {
  max-width: 50rem;
}

.Waiters_order {
  background-color: rgba(230, 126, 34, 0.3);
  font-size: 2.4rem;
  margin: 0 1rem;  
  min-height: 20rem;
  padding: 1rem;
  width: 46rem;
}

.Order_buttons {
  display: flex;
  justify-content: space-between;
}

.Order_buttons button {
  background-color: #E67E22;
  color: #ECF0F1;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  width: 14rem;
  height: 6.9rem;  
}

.Text_weight {
  font-weight: bold;
}

.Delete_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}